
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    height: 100vh;
}
.nav{
    background-color: #191718;
    z-index: 1;
}
.container__nav__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    color: FFFFFF;
}
.nav__item{
    width: 150px;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #191718;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
}

.container__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.container__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__img{
    height: 128px;
    width: 128px;
}
.container__desc p {
    width: 975px;
    text-align: center;
    margin: 15px 0;
}
.main__content__item-main-text{
    /* text-align: justify; */
}
.main__content__item-main-text img{
    float: left;
}
footer{
    position: fixed;
    bottom: 0;
    height: 80px;
    border: 1px solid black;
    flex: 1;
    width: 100%;
}
footer span{
    margin-left: 307px;
}